.App {
  text-align: center;
}

.App-header {
  background-color: #2E231B !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header-Home{
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #121212; 
}

.profile{
  color: white;
  margin-left: 1501px;
}

.App-Logo{
  position: relative;
  top: -65px;
  z-index: 500;
  right: 920px;
}

.App-Cart{
  position: relative;
  top: -122px;
  z-index: 500;
  left: 629px;
}

.App-Logo2{
  position: relative;
  top: -89px;
  left: 580px;

}

.App-Logo3{
  position: relative;
  top: -470px;
  right: 500px;
}

.App-Placa1{
  position: relative;
  top: -370px;
  background-color: #2E231B;
  z-index: 0;
}

.App-Placa2{
  position: relative;
  top: -430px;
  background-color: #2E231B;
  z-index: 1;
}

.App-Placa3{
  position: relative;
  top: -870px;
  background-color: #2E231B;
  z-index: 3;
}


.Ifood{
  position: relative;
  top: -780px;
  left: 185px;
  z-index: 2;
}

.delivery{
  position: relative;
  top: -940px;
  left: 340px;
  z-index: 3;
}

.card{
  position: fixed;
  top: -1200px;
  left: -320px;
  z-index: 4;

}


.d-flex{
  top: -48px;
  left: 1557px;
}